<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="assets/css/burger_style.css" rel="stylesheet">

    <title>Eat-Da-Burger App</title>

<!-- //This section is the html handle bars section of the application that allows us to input html tags usinging handlebars. -->
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
  </body>
</html>

